pandas~=2.2
numpy~=1.26
chromadb~=0.5
sentence-transformers~=3.0
umap-learn~=0.5
hdbscan~=0.8
ollama~=0.3
faiss-cpu~=1.8
scikit-learn~=1.5
jsonschema~=4.23
ipython~=8.26
notebook~=7.2
beautifulsoup4~=4.12
emoji~=2.14
torch~=2.4
transformers~=4.44
matplotlib~=3.9
seaborn~=0.13
